.navbar-nav{
    font-size: 18px;
}
h2{
    font-size: 72px;
}
.container{
    position: absolute;
    text-align: left;
}
.display-4{
    font-size: 72px;
}
.lead{
    font-size: 32px;
}
.mainImage{
   width:100%;
   min-width: 1920px;
}
.page2{
    width:100%;
    min-width:2000px;
}
.p2left{
    width:45%;
    display:inline-block;
    vertical-align: top;
}
.p2right{
    width:45%;
    display:inline-block;
}
.page2image{
    width:1080px;
}
.page3{
    width:100%;
    min-width:2000px;
}
.page3image{
    width:1080px;
}
.p3left{
    width:100%;
    margin-top: 50px;
    margin-bottom: 100px;
   /*display:inline-block;
    vertical-align: top;*/
}
.p3right{
    width:45%;
    display:inline-block;
}
.card-columns{
    column-count: 3;
}
.userInterviewInsights{
    width:100%;
    padding: 150px;
}
.empathyMap{
    width:100%;
    padding: 150px;
}
.affinityDiagram{
    width:100%;
    padding:150px;
}
.userPersona{
    width:100%;
    padding: 150px;
}
.journeyMap{
    width:100%;
    padding:150px;
}
.storyBoard{
    width:100%;
    padding: 150px;
}
.userScenario{
    width:100%;
    padding:150px;
}
.sketchesImages{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;
    margin: 15px;
    padding: 10px;
    width: 2700px;
}
