.navbar-nav{
    font-size: 18px;
}
.container{
    position: absolute;
    text-align: left;
}
.display-4{
    font-size: 72px;
}
.lead{
    font-size: 32px;
}
.mainImage{
   width:100%;
   min-width: 1920px;
}
.page2{
    width:100%;
    min-width:2000px;
}
.p2left{
    width:45%;
    display:inline-block;
    vertical-align: top;
}
.p2right{
    width:45%;
    display:inline-block;
}
.page2image{
    width:920px;
}